{{define "basicscripts"}}
    <script src="static/js/basic/basicmodals.js"></script>
    <script src="static/js/basic/basicserver.js"></script>
    <script src="static/js/basic/basiclist.js"></script>
{{end}}
{{/*Набор базовых скриптов, одинаковых для многих форм. Сейчас он маленький, но потом увеличится*/}}