{{define "bsscripts"}}
    <script type="text/javascript" src="static/js/package/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/package/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="static/js/package/popper.js/popper.min.js"></script>
    <script type="text/javascript" src="static/js/package/bootstrap/js/bootstrap.min.js"></script>

    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="static/js/package//jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="static/js/package//modernizr/modernizr.js"></script>
    <!-- am chart -->
    <script src="static/js/package/pages/widget/amchart/amcharts.min.js"></script>
    <script src="static/js/package/pages/widget/amchart/serial.min.js"></script>
    <!-- Todo js -->
    <script type="text/javascript " src="static/js/package/pages/todo/todo.js "></script>
    <!-- Custom js -->
    <script type="text/javascript" src="static/js/package/pages/dashboard/custom-dashboard.js"></script>
    <script type="text/javascript" src="static/js/package/script.js"></script>
    <script type="text/javascript " src="static/js/package/SmoothScroll.js"></script>
    <script src="static/js/package/pcoded.min.js"></script>
    <script src="static/js/package/preset.js"></script>
    <script src="static/js/package/jquery.mCustomScrollbar.concat.min.js"></script>
{{end}}
{{/*Скрипты для раоты бутстрапа*/}}