{{define "modalinfo"}}
    {{/*Глобальное модальное окно*/}}
    <div class="modal fade" id="modalinfo">
        <div class="modal-dialog" id="xxx">
            <div class="modal-content">
                <div class="modal-header" id="modalinfo-divheader">
                    <button type="button" class="close" data-dismiss="modal" >&times</button>
                    <h4 id = "modalinfo-header" style="color:white;"><span class="glyphicon glyphicon-info-sign"></span>  </h4>
 </h4>
                </div>
                <div class="modal-body"  >
                    <p id = "modalinfo-body" > </p>
                </div>
                <div class="modal-footer">
                    <button id = "modalinfo-cancellbutton" type="button" class="btn btn-success " data-dismiss="modal"> </button>
                </div>
            </div>
        </div>
    </div>

{{end}}