{{define "toppanel"}}
    {{$isSigned:=ne .UserData.User.Login ""}}
    <nav class="navbar header-navbar pcoded-header">
        <div class="navbar-wrapper">
            <div class="navbar-logo">
                <a class="mobile-menu" id="mobile-collapse" href="#">
                    <i class="ti-menu"></i>
                </a>

                <a href="/index">

                    <img class="img-fluid" src="static/images/logo.png" alt="Theme-Logo" />
                </a>
            </div>

            <div class="navbar-container container-fluid">
                <ul class="nav-left">
                    <li>
                        <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                    </li>

                    <li>
                        <a href="#" onclick="javascript:toggleFullScreen()">
                            <i class="ti-fullscreen"></i>
                        </a>
                    </li>
                </ul>
                <ul class="nav-right">
                    <li class="user-profile header-notification">
                        {{if $isSigned}}
                        <a href="#">
                            <span>Signed as {{.UserData.User.Login}}</span>
                            <i class="ti-angle-down"></i>
                        </a>
                        <ul class="show-notification profile-notification">
                            <li>
                                <a href="#">
                                    <i class="ti-settings"></i> Settings
                                </a>
                            </li>
                            <li>
                                <a href="/edit">
                                    <i class="ti-user"></i> Profile
                                </a>
                            </li>
                            <li>
                                <a href="/logout">
                                    <i class="ti-layout-sidebar-left"></i> Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                    {{else}}
                        <a href="/auth">
                            <span>Sign up</span>
                            <i class="ti-angle-down"></i>
                        </a>
                    {{end}}
                </ul>
            </div>
        </div>
    </nav>


{{end}}