<!DOCTYPE html>
<html lang="en">
{{template "head"}}
<link rel="stylesheet" type="text/css" href="static/css/bootstrap-duallistbox/css/bootstrap-duallistbox.css">
<link rel="stylesheet" type="text/css" href="static/css/bootstrap-duallistbox/css/duallistbox.css">

<body >
{{template "PreLoader"}}
<!--- Проверяем, это админ пришел пользовтаелей менять или кто-то в личный кабинет прсото зашел -->
{{$flag:= and (.SessionData.HasPermission "Editusers") (.CommonObjects.IsAdmin)}}

<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        {{template "toppanel" .SessionData}}
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                {{template "leftpanel" .SessionData}}
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">
                                <!-- Page-header start -->
                                <div class="page-header card">
                                    <div class="row align-items-end">
                                        <div class="col-lg-8">
                                            <div class="page-header-title">
                                                <i class="icofont icofont-edit bg-c-pink"></i>
                                                <div class="d-inline">
                                                    {{if $flag}}
                                                    <h4>Edit User</h4>
                                                    <span>Include edit user and set role</span>
                                                    {{else}}
                                                        <h4>Personal account</h4>
                                                        <span>Edit your's account</span>
                                                    {{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="page-header-breadcrumb">
                                                <ul class="breadcrumb-title">
                                                    <li class="breadcrumb-item">
                                                        <a href="/index">
                                                            <i class="icofont icofont-home"></i>
                                                        </a>
                                                    </li>
                                                    <li class="breadcrumb-item">
                                                        {{if $flag}}
                                                        <a href="/edit?IsAdmin=true">Edit Users</a>
                                                        {{else}}
                                                            <a href="/edit">Profile</a>
                                                        {{end}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Page-header end -->
                                <!-- Page body start -->
                                <div class="page-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- Input Edit User start -->
                                            <div class="card">
                                                <div class="card-block">
                                                    {{if $flag}}
                                                    <h4 class="sub-title">Edit Users</h4>
                                                    {{else}}
                                                    <h4 class="sub-title">Profile</h4>
                                                    {{end}}
                                                    <form>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Login</label>
                                                            <div class="col-sm-10">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" id="login_user_et"><i class="icofont icofont-flash"></i></span>
                                                                    {{if $flag}}
                                                                    <select  class="form-control" title="Select Login User" data-toggle="tooltip"
                                                                            id ="userlist" name="Login" onchange="GeneratePage(this.selectedIndex)">
                                                                        <option selected disabled hidden>Login</option>
                                                                    </select>
                                                                    {{else}}
                                                                        <input type="text" id="login_user_et" class="form-control" placeholder="Enter Your Login" title="Your Login" data-toggle="tooltip"
                                                                               name="Login" id="userlist" value ={{.SessionData.UserData.User.Login}} readonly="true">
                                                                    {{end}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Department</label>
                                                            <div class="col-sm-10">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" id="department_user_et"><i class="icofont icofont-filter"></i></span>
                                                                    <select class="form-control" title="Select Department User" data-toggle="tooltip" style="color:#a9a9a9" id ="deplist" name="Department">
                                                                        <option disabled selected hidden  >Select User's Department</option>>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">First Name</label>
                                                            <div class="col-sm-10">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" id="first_name_user_et"><i class="icofont icofont-user-alt-3"></i></span>
                                                                    <input type="text" id="uname" class="form-control" placeholder="Enter First Name" title="Enter Your First Name" data-toggle="tooltip">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Middle Name</label>
                                                            <div class="col-sm-10">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" id="middle_name_user_et"><i class="icofont icofont-user-alt-3"></i></span>
                                                                    <input type="text" id="umiddlename" class="form-control" placeholder="Enter Middle Name" title="Enter Your Middle Name" data-toggle="tooltip">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Last Name</label>
                                                            <div class="col-sm-10">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" id="last_name_user_et"><i class="icofont icofont-user-alt-3"></i></span>
                                                                    <input type="text"  id="usurname" class="form-control" placeholder="Enter Last Name" title="Enter Your Last Name" data-toggle="tooltip">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">E-mail Address</label>
                                                            <div class="col-sm-10">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" id="email_user_et"><i class="icofont icofont-ui-email"></i></span>
                                                                    <input type="text"  id="uemail" class="form-control" placeholder="Enter E-mail Address" title="Enter Your E-mail Address" data-toggle="tooltip">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Phone</label>
                                                            <div class="col-sm-10">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" id="phone_user_et"><i class="icofont icofont-phone"></i></span>
                                                                    <input type="text"  id="uphone" class="form-control" placeholder="(XXX)XXX-XX-XX" title="format: (XXX)XXX-XX-XX" data-toggle="tooltip">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <label class="col-sm-2"></label>
                                                            <div class="col-sm-10">
                                                                <button type="button" class="btn btn-primary m-b-0" onclick="UpdateUserProperties()">Submit</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- Input Edit User end -->
                                            <!-----
                                            {{/*{if $flag*/}}
                                            <div class="card">
                                                <div class="card-block">
                                                    <h4 class="sub-title">Edit Roles</h4>
                                                    <form>
                                                        <div class="form-group row">
                                                            <div class="col">
                                                                <select multiple="multiple" size="10" name="roleIds" id="availablerolelist"></select>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            ----->
                                            {{/*end*/}}
                                            <!-- Input Create User end -->
                                        </div>
                                    </div>
                                </div>
                                <!-- Page body end -->
                            </div>
                        </div>
                        <!-- Main-body end -->
                        <div id="styleSelector">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{{template "modalinfo"}}

</body>
{{template "bsscripts"}}
{{template "basicscripts"}}

<script src="static/js/custom/html/edituser.js"></script>
<!--Здесь логика несколько рзличается: в личном кабинете можем загрузить данные юзера из сесии,
а вот для администирования нужно подгружать данные для каждого юзера отдельно
 Поэтому приходится выносить сюда. (Заодно установить некоторые глобальные для скрипта переменные)-->
<script>
    IsAdmin={{$flag}}
    {{if not $flag}}
    fillform({{.SessionData.UserData.User}})
    GetDepJson({{.SessionData.UserData.User.DepIndex}})
    {{else}}
    GetUserJson()
    {{end}}
</script>


</html>


